<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0NQfsS-w_vxHWTsN88ib74BQkS2HsOCY</string>
	<key>GCM_SENDER_ID</key>
	<string>814761519101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>choreo-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>choreo-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814761519101:ios:932e4714fa8017f38f9b94</string>
</dict>
</plist>